<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/header.css">
    <title>Encryption Simulator</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/aes" id="AES">AES</a></li>
                <li><a href="/rsa" id="RSA">RSA</a></li>
                <li><a href="/caesar" id="Caesar">Caesar</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Welcome to the Encryption Simulator</h1>
    </main>
</body>
</html>
